#carre{
    position:absolute;
    width: 100px;
    height : 100px;
    bottom: 0px;
    background-color: cornflowerblue;
}

.style-button{
    width: 150px;
    height: 50px;
    border: none;
    background-color: cornflowerblue;
    color: white;
    font-size: 25px;

}